:root {
	--navbar-padding-h: 1rem;
	--c-brand: #409eff;
	--c-brand-light: #79bbff;
	// --c-bg:rgba(0,0,0,0)
	
	--content-width:900px;
	
	--scrollbar-color: rgba(0, 0, 0, 0.2);
}

.dark{
	--scrollbar-color: rgba(255, 255, 255, 0.2);
}

a{-webkit-user-drag: none;}

body::-webkit-scrollbar {
	display: none;
}

/*滚动条整体样式,高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
   width: 10px;
   height: 2px;
   border-radius: 5px;
   background-color: #ffffff;
 }

 /*滚动条里面小方块*/
::-webkit-scrollbar-thumb {
   border-radius: 5px;
   -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
   background: rgba(0, 0, 0, 0.2);
 }

 /*滚动条里面轨道*/
::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
   border-radius: 0;
   background: rgba(0, 0, 0, 0.05);
 }
